/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* header*/

header li {
  display: inline-block;
  padding: 10px;
}

/* main */

section {
  display: flex;
  flex-wrap: wrap;
}

section .card {
  width: 33.3333%;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

section .card img {
  width: 100%;
  display: block;
}

section .card:hover {
  transform: scale(1.1);
}

section .card:hover .card-link {
  display: block;
}

section .card .card-link {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* footer */

