header {
    .container {
        display: flex;
        justify-content: center;
        .logo-menu {
            text-align: center;
            li {
                display: inline-block;
                padding: 10px;
            }
        }
    }
}
